@page "/"
@using Blazor.back.Models;

<PageTitle>Home</PageTitle>

<div class="row d-flex justify-content-center">
    <div class="col-6 offset-3">
        <img src="imagens/logo.png" class="mt-5" alt="logo">
    </div>
    <figure class="text-center mt-2">
        <blockquote class="blockquote">
            <h3>BLAZOR</h3>
            <h5>webassembly</h5>
        </blockquote>
    </figure>
</div>